*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

/* stile testata e logo */
#spazio_testata{
    background-image: url('../css/img/pattern.png');
    height: 150px;
    width: auto;
    background-color: #3d93ff
}

.logo{
    width: 300px;
    padding-top: 60px;
    padding-left: 15px;
}

/* stile titolo e sottotitolo */
.titolo{
    font-size: 60px;
}
.sottotitolo{
    color: grey;
}
.sottotitolo_ev{
    color: rgb(0, 187, 255);
}
.data{
    color: grey;
    font-size: 13px;
}

/*stile contenuto della pagina */
.container{
    padding-left: 15px;
}

/* foto */
.photo{
    margin-top: 25px;
}

.photo_description{
    
    font-size: 12px;
}

/* paragrafo */
.lorem_paragraph{
    
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: 550;
}

.evidenziatore{
    background-color: yellow;
}

/* lista non ordinata */

.lista{
    padding-left: 15px;
    
    font-weight: 550;
}

/* tabella */
#customers{
    
    margin-top: 35px;
    height: 250px;
    width: auto;
    border-collapse: collapse;
    text-align: center;
}

.riga_azzurra{
    background-color: #52f9ff79;
}


.thead{
    background-color: #4fb3f7;
    color: white;
}

/* pubblicità */
.advertising{
    color: grey;
}

.photo1{
    background-image: url(../css/img/monitor.jpg);
    width: 300px;
    height: 207PX;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.photo2{
    background-image: url(../css/img/graph.jpg);
    width: 300px;
    height: 207PX;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    
}

