*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* stile testata e logo */
#spazio_testata{
    background-image: url('../css/img/pattern.png');
    height: 150px;
    width: auto;
    background-color: #3d93ff;
}

.logo{
    width: 300px;
    padding-top: 60px;
    padding-left: 15px;
}

/* stile titolo e sottotitolo */
.titolo{
    font-size: 60px;
}
.sottotitolo{
    color: grey;
}
.sottotitolo_ev{
    color: rgb(0, 187, 255);
}
.data{
    color: grey;
    font-size: 13px;
}

/*stile contenuto della pagina */
.container{
    padding-left: 15px;
}

/* foto */
.photo{
    margin-top: 25px;
}

.photo_description{
    font-family: 'Playfair Display', serif;
    font-size: 12px;
}

/* paragrafo */
.lorem_paragraph{
    font-family: 'Playfair Display', serif;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: 550;
}

.evidenziatore{
    background-color: yellow;
}

/* lista non ordinata */

.lista{
    padding-left: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 550;
}